Source: m2ee-tools
Section: misc
Priority: extra
Maintainer: Hans van Kranenburg <hans.van.kranenburg@mendix.com>
Build-Depends: debhelper (>= 8), python (>= 2.6.6-3~)
Standards-Version: 3.9.1
Homepage: http://www.mendix.com/

Package: m2ee-tools
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-m2ee (= ${source:Version})
Description: Mendix Runtime deployment tools
 The m2ee tools provide an interactive way to manage Mendix Business Server
 processes. Using the scripts, a Mendix application can be started, stopped
 and monitored.
 .
 When using a PostgreSQL database as datastore for the application, m2ee
 also provides functionality to dump and restore databases, if the
 postgresql-client package is installed.

Package: python-m2ee
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, unzip, python-yaml, python-httplib2, tar, wget
Suggests: m2ee-tools, postgresql-client
Description: Python modules for administrative interaction with the Mendix Runtime
 The m2ee library provides modules to start, stop and interact with a Mendix
 Runtime process.
