Source: m2ee-tools
Section: misc
Priority: optional
Maintainer: Hans van Kranenburg <hans.van.kranenburg@mendix.com>
Build-Depends: debhelper (>= 9), dh-python, python-all (>= 2.6.6-3~), python-setuptools
Standards-Version: 4.1.1
Homepage: https://github.com/mendix/m2ee-tools/

Package: m2ee-tools
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-m2ee (= ${source:Version})
Description: Mendix Runtime deployment tools
 The m2ee tools provide an interactive way to manage a Mendix Runtime
 process. Using the scripts, a Mendix application can be started, stopped
 and monitored.
 .
 When using a PostgreSQL database as datastore for the application, m2ee
 also provides functionality to dump and restore databases, if the
 postgresql-client package is installed.

Package: python-m2ee
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, unzip, python-yaml, python-httplib2, curl
Section: python
Breaks: munin-plugins-mendix (<< 9-3)
Suggests: m2ee-tools, postgresql-client
Description: Python modules for administrative interaction with the Mendix Runtime
 The m2ee library provides modules to start, stop and interact with a Mendix
 Runtime process.

Package: munin-plugins-m2ee
Architecture: all
Depends: ${misc:Depends}, python
Section: net
Recommends: munin-node
Description: m2ee plugin for Munin
 This package provides the Mendix Runtime plugin for Munin. Included graphs are
 showing e.g. the amount of logged in users, memory usage, usage of threads and
 statistics about executed database queries.
