#! /usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	mv debian/m2ee-tools/usr/bin/m2ee.py debian/m2ee-tools/usr/bin/m2ee

override_dh_auto_test:
