mxnode:
  mxjar_repo : /usr/local/share/mendix/

m2ee:
  app_name: testproject
  app_base: {app_base}
  admin_pass: 'testproject!1'
  runtime_port: 8000
  admin_port: 9000
  runtime_listen_addresses: "*"
  runtime_blocking_connector: true
  preserve_environment: false
  pidfile: {app_base}/pid
  model_upload: {app_base}/mda/
  javaopts: ["-Dfile.encoding=UTF-8", 
             "-Dsun.io.useCanonPrefixCache=false", 
             "-XX:MaxPermSize=64M",
             "-Djava.util.prefs.userRoot={app_base}",
             "-Djava.io.tmpdir=/tmp"
             ]
mxruntime:
  DatabaseType: HSQLDB
  DatabaseName: default
  DTAPMode: T
logging:
 - # <- list of dicts
   name: filesubscriber
   type: file
   autosubscribe: INFO
   filename: /dev/null

